<br>
{{ 'rider-details.address-preview' | translate }}
<div class="addresses-container">
    <table>
        <tr>
            <td class="entity-attribute-title">{{ 'rider-address.id' | translate }}</td>
            <td>{{address!.id!}}</td>
        </tr>
        <tr>
            <td class="entity-attribute-title">{{ 'rider-address.homeNo' | translate }}</td>
            <td>{{address.street }}</td>
        </tr>
        <tr>
            <td class="entity-attribute-title">{{ 'rider-address.zipCode' | translate }}</td>
            <td>{{address.buildingNumber}}</td>
        </tr>
        <tr>
            <td class="entity-attribute-title">{{ 'rider-address.street' | translate }}</td>
            <td>{{address.city}}</td>
        </tr>
        <tr>
            <td class="entity-attribute-title">{{ 'rider-address.city' | translate }}</td>
            <td>{{address.postalCode}}</td>
        </tr>
        <tr>
            <td class="entity-attribute-title">{{ 'rider-address.voivodian' | translate }}</td>
            <td>{{address.voivodeship}}</td>
        </tr>
    </table>
</div>