<br>
{{ 'rider-details.preview' | translate }}
<table>
    <tr>
        <td>{{ 'rider-address.homeNo' | translate }}</td>
        <td>{{address.homeNo | uppercase }}</td>
    </tr>
    <tr>
        <td>{{ 'rider-address.zipCode' | translate }}</td>
        <td>{{address.zipCode}}</td>
    </tr>
    <tr>
        <td>{{ 'rider-address.street' | translate }}</td>
        <td>{{address.street}}</td>
    </tr>
    <tr>
        <td>{{ 'rider-address.city' | translate }}</td>
        <td>{{address.city}}</td>
    </tr>
    <tr>
        <td>{{ 'rider-address.voivodian' | translate }}</td>
        <td>{{address.voivodian}}</td>
    </tr>
</table>