{{ 'race.preview' | translate }}

<div class="race-update-container">
    <table>
        <tr>
            <td class="entity-attribute-title">{{ 'race.title' | translate }}</td>
            <td>
                <input type="text" [(ngModel)]="race.title">
            </td>
        </tr>
        <tr>
            <td class="entity-attribute-title">{{ 'race.startDate' | translate }}</td>
            <td><input type="date" [ngModel]="race.startDate | date:'yyyy-MM-dd'" (ngModelChange)="race.startDate = $event" type="date" name="startDate"></td>
        </tr>
        <tr>
            <td class="entity-attribute-title">{{ 'race.endDate' | translate }}</td>
            <td><input type="date" [ngModel]="race.endDate | date:'yyyy-MM-dd'" (ngModelChange)="race.endDate = $event" type="date" name="endDate"></td>
        </tr>
        <tr>
            <td class="entity-attribute-title">{{ 'race.url' | translate }}</td>
            <td><input type="text" [(ngModel)]="race.url"></td>
        </tr>
        <tr>
            <td class="entity-attribute-title">Kategorie</td>
            <td>            <select name="category" id="categories">
                <option value="volvo">ZAK</option>
                <option value="saab">ZACZKA</option>
                <option value="mercedes">MLODZIK</option>
                <option value="audi">MLODZICZKA</option>
                <option value="mercedes">JUNIOR ML</option>
                <option value="audi">JUNIORKA ML</option>
                <option value="mercedes">JUNIOR</option>
                <option value="audi">JUNIORKA</option>
                <option value="mercedes">ORLIK</option>
                <option value="audi">ORLICZKA</option>
                <option value="mercedes">ELITA M</option>
                <option value="audi">ELITA K</option>
              </select>
        </tr>
    </table>
    <div class="d-flex justify-content-between">
            <button (click)="onBack()" type="button" class="btn btn-primary">{{ 'common-actions.back' | translate }}</button>
            <button (click)="onSave()" type="button" class="btn btn-info">{{ 'common-actions.save' | translate }}</button>
    </div>
</div>