{{ 'race.preview' | translate }}

<div class="race-update-container">
    <table>
        <tr>
            <td class="entity-attribute-title">{{ 'race.title' | translate }}</td>
            <td>
                <input type="text" [(ngModel)]="race.title">
            </td>
        </tr>
        <tr>
            <td class="entity-attribute-title">{{ 'race.startDate' | translate }}</td>
            <td><input type="date" [ngModel]="race.startDate | date:'yyyy-MM-dd'" (ngModelChange)="race.startDate = $event" type="date" name="startDate"></td>
        </tr>
        <tr>
            <td class="entity-attribute-title">{{ 'race.endDate' | translate }}</td>
            <td><input type="date" [ngModel]="race.endDate | date:'yyyy-MM-dd'" (ngModelChange)="race.endDate = $event" type="date" name="endDate"></td>
        </tr>
        <tr>
            <td class="entity-attribute-title">{{ 'race.url' | translate }}</td>
            <td><input type="text" [(ngModel)]="race.url"></td>
        </tr>
        <tr>
            <td class="entity-attribute-title">Kategorie</td>
            <td>
                <select name="category" id="category" [(ngModel)]="chosenCategory">
                  <option *ngFor="let categoryName of categoriesList" value="{{categoryName}}">{{categoryName}}</option>
                </select>
          </td>
          <td>
            <a class="btn btn-success" (click)="addCategory()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                  </svg> Dodaj
            </a>
          </td>
        </tr>
        <tr>
                <td class="entity-attribute-title">Kategorie</td>

                  <table>
                    <tr *ngFor="let category of race.categories">
                      <td>{{category.name}}</td>
                      <td> <a (click)="deleteCategory(category.name)" type="button" class="btn btn-danger btn-sm">-</a></td>
                    </tr>
                  </table>



        </tr>
    </table>
    <div class="d-flex justify-content-between">
            <button (click)="onBack()" type="button" class="btn btn-primary">{{ 'common-actions.back' | translate }}</button>
            <button (click)="onSave()" type="button" class="btn btn-info">{{ 'common-actions.save' | translate }}</button>
    </div>
</div>