<div class="container">
	<div *ngIf="errorMessage">{{errorMessage}}</div>
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-body">
				<form [formGroup]="form" (submit)="onSubmit()">
					<div class="input-group form-group">
						<input formControlName="username" type="text" class="form-control" placeholder="{{'login.userNamePlaceHolder' | translate }}">
					</div>
          <br>
					<div class="input-group form-group">
						<input formControlName="password" type="password" class="form-control" placeholder="{{'login.passwordPlaceHolder' | translate }}">
					</div>
          <br>
					<div class="row align-items-center remember">
						<input type="checkbox">{{'login.remember-me' | translate }}
					</div>
          <br>
					<div class="form-group">
						<input type="submit" value="{{'login.login' | translate }}" class="btn float-right login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center">
					<a href="#">{{'login.forgot-password' | translate }}</a>
				</div>
			</div>
		</div>
	</div>
</div>