<br>
{{ 'rider-details.preview' | translate }}
<div class="personal-data-containter">
<table>
    <tr>
        <td class="entity-attribute-title">{{ 'rider-details.category' | translate }}</td>
        <td>{{rider.category | uppercase }}</td>
    </tr>
    <tr>
      <td class="entity-attribute-title">{{ 'rider-details.first-name' | translate }}</td>
      <td>{{rider.firstName}}</td>
    </tr>
    <tr>
      <td class="entity-attribute-title">{{ 'rider-details.last-name' | translate }}</td>
      <td>{{rider.lastName}}</td>
    </tr>
    <tr>
        <td class="entity-attribute-title">{{ 'rider-details.license-no' | translate }}</td>
        <td>{{rider.licenseNo}}</td>
      </tr>
  </table>
  <button (click)="onBack()" type="button" class="btn btn-primary">{{ 'common-actions.back' | translate }}</button>
  <button type="button" class="btn btn-info" routerLink="/rider/{{rider.id}}/edit">{{ 'common-actions.edit' | translate }}</button>
</div>

