{{ 'bike.preview' | translate }}
<div class="bike-camp-update-container"> 
<table>
    <tr>
        <td class="entity-attribute-title">{{ 'bike.id' | translate }}</td>
        <td>
            {{bike.id}}
        </td>
    </tr>
    <tr>
        <td class="entity-attribute-title">{{ 'bike.referenceNumber' | translate }}</td>
        <td><input type="text" [(ngModel)]="bike.referenceNumber"></td>
    </tr>
    <tr>
        <td class="entity-attribute-title">{{ 'bike.mark' | translate }}</td>
        <td><input type="text" [(ngModel)]="bike.mark"></td>
    </tr>
    <tr>
        <td class="entity-attribute-title">{{ 'bike.model' | translate }}</td>
        <td><input type="text" [(ngModel)]="bike.model"></td>
    </tr>
    <tr>
        <td class="entity-attribute-title">{{ 'bike.type' | translate }}</td>
        <td><input type="text" [(ngModel)]="bike.type"></td>
    </tr>

</table>
<div class="d-flex justify-content-between">
    <button (click)="onBack()" type="button" class="btn btn-primary">{{ 'common-actions.back' | translate }}</button>
    <button (click)="onSave()" type="button" class="btn btn-info">{{ 'common-actions.save' | translate }}</button>
</div>
</div>