<app-race-navigation (viewName)="onChangeView($event)"></app-race-navigation>
<ng-container [ngSwitch]="viewName">
    <app-race-summary [id]="id" *ngSwitchCase="'SUMMARY'"></app-race-summary>
    <app-race-accomodation [id]="id" [journey]="journey" *ngSwitchCase="'ACCOMODATION'"></app-race-accomodation>
    <app-race-riders [id]="id" [journey]="journey" *ngSwitchCase="'RIDERS'"></app-race-riders>
    <app-nearest-services [journey]="journey" *ngSwitchCase="'SERVICES'"></app-nearest-services>




<!--
<br>
{{ 'race.preview' | translate }}
<div class="race-details-container">
    
<table>
    <tr>
        <td class="entity-attribute-title">{{ 'race.id' | translate }}</td>
        <td>{{race.id }}</td>
    </tr>
    <tr>
        <td class="entity-attribute-title">{{ 'race.title' | translate }}</td>
        <td>{{race.title }}</td>
    </tr>
    <tr>
        <td class="entity-attribute-title">{{ 'race.startDate' | translate }}</td>
        <td>{{race.startDate | date }}</td>
    </tr>
    <tr>
        <td class="entity-attribute-title">{{ 'race.endDate' | translate }}</td>
        <td>{{race.endDate | date }}</td>
    </tr>
    <tr>
        <td class="entity-attribute-title">{{ 'race.url' | translate }}</td>
        <a href="{{race.url}}">{{race.url}}</a>

    </tr>
  </table>
  <div class="d-flex justify-content-between">
      <button (click)="onBack()" type="button" class="btn btn-primary">{{ 'common-actions.back' | translate }}</button>
      <button type="button" class="btn btn-info" routerLink="/race/{{race.id}}/edit">{{ 'common-actions.edit' | translate }}</button>
  </div>
</div>
-->




