{{ 'training.preview' | translate }}
<div class="training-camp-update-container"> 
<table>
    <tr>
        <td class="entity-attribute-title">{{ 'training-camp.title' | translate }}</td>
        <td><input type="text" [(ngModel)]="trainingCamp.title"></td>
    </tr>
    <tr>
        <td class="entity-attribute-title">{{ 'training-camp.startDate' | translate }}</td>
        <td><input type="date" [ngModel]="trainingCamp.startDate | date: 'yyyy-MM-dd'"></td>
    </tr>
    <tr>
        <td class="entity-attribute-title">{{ 'training-camp.endDate' | translate }}</td>
        <td><input type="date" [ngModel]="trainingCamp.endDate | date: 'yyyy-MM-dd'"></td>
    </tr>
</table>
<div class="d-flex justify-content-between">
    <button (click)="onBack()" type="button" class="btn btn-primary">{{ 'common-actions.back' | translate }}</button>
    <button (click)="onSave()" type="button" class="btn btn-info">{{ 'common-actions.save' | translate }}</button>
</div>
</div>