<table mat-table [dataSource]="riderArray">

    <ng-container matColumnDef="category">
           <th mat-header-cell *matHeaderCellDef> {{'rider.category' | translate}} </th>
           <td mat-cell *matCellDef="let rider"> {{rider.category }} </td>
   </ng-container>
   <ng-container matColumnDef="first_name">
       <th mat-header-cell *matHeaderCellDef> {{'rider.first_name' | translate}} </th>
       <td mat-cell *matCellDef="let rider"> {{rider.first_name}} </td>
   </ng-container>
   <ng-container matColumnDef="last_name">
       <th mat-header-cell *matHeaderCellDef> {{'rider.last_name' | translate}} </th>
       <td mat-cell *matCellDef="let rider"> {{rider.last_name}} </td>
   </ng-container>
   <ng-container matColumnDef="license_no">
       <th mat-header-cell *matHeaderCellDef> {{'rider.license_no' | translate}} </th>
       <td mat-cell *matCellDef="let rider"> {{rider.license_no}}  </td>
   </ng-container>
   <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> {{'common.actions' | translate}} </th>
    <td mat-cell *matCellDef="let rider">
        <button routerLink="/rider/{{rider.id}}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
          </svg>
        </button>

    </td>
</ng-container>
   <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
   <tr mat-row *matRowDef="let rider; columns: columnsToDisplay"></tr>
   
   </table>