<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary" (click)="onChangeView('PERSONAL-DATA')">{{'rider-details.personal-data' | translate}}</button>
    <button type="button" class="btn btn-secondary" (click)="onChangeView('ADDRESS')">{{'rider-details.address' | translate}}</button>
    <button type="button" class="btn btn-secondary" (click)="onChangeView('ACHIEVEMENTS')">{{'rider-details.achievements' | translate}}</button>
    <button type="button" class="btn btn-secondary" (click)="onChangeView('MEDICAL-CARD')">{{'rider-details.medical-card' | translate }}</button>
</div>