
<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-info" routerLink="/trainings/new">{{'common-actions.add' | translate}}</button>
</div>

<table mat-table [dataSource]="trainingArray">

 <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let training"> {{training.id }} </td>
</ng-container>
<ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> {{'training.date' | translate}} </th>
    <td mat-cell *matCellDef="let training"> {{training.date | date}} </td>
</ng-container>
<ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> {{'training.type' | translate}} </th>
    <td mat-cell *matCellDef="let training"> {{training.type}} </td>
</ng-container>
<ng-container matColumnDef="kind">
    <th mat-header-cell *matHeaderCellDef> {{'training.kind' | translate}} </th>
    <td mat-cell *matCellDef="let training"> {{training.kind}} </td>
</ng-container>
<ng-container matColumnDef="distance">
    <th mat-header-cell *matHeaderCellDef> {{'training.distance' | translate}} </th>
    <td mat-cell *matCellDef="let training"> {{training.distance}} </td>
</ng-container>
<ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> {{'training.description' | translate}} </th>
    <td mat-cell *matCellDef="let training"> {{training.description}} </td>
</ng-container>
<ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> {{'common.actions' | translate}} </th>
    <td mat-cell *matCellDef="let training">
        <button routerLink="/training/{{training.id}}">
            <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><rect fill="none" height="24" width="24"/><path d="M3,10h11v2H3V10z M3,8h11V6H3V8z M3,16h7v-2H3V16z M18.01,12.87l0.71-0.71c0.39-0.39,1.02-0.39,1.41,0l0.71,0.71 c0.39,0.39,0.39,1.02,0,1.41l-0.71,0.71L18.01,12.87z M17.3,13.58l-5.3,5.3V21h2.12l5.3-5.3L17.3,13.58z"/></svg>
        </button>
    </td>
</ng-container>
<tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
<tr mat-row *matRowDef="let training; columns: columnsToDisplay"></tr>
</table>