
<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-info" routerLink="/trainings/new">{{'common-actions.add' | translate}}</button>
    <button type="button" class="btn btn-warning" (click)="processReport()">Generuj PDF</button>
</div>

<table id="trainings" mat-table [dataSource]="trainingArray">
 
 <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let training"> {{training.id }} </td>
</ng-container>
<ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> {{'training.date' | translate}} </th>
    <td mat-cell *matCellDef="let training"> {{training.date | date:'dd/MM/yyyy'}} </td>
</ng-container>
<ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> {{'training.type' | translate}} </th>
    <td mat-cell *matCellDef="let training"> {{training.type}} </td>
</ng-container>
<ng-container matColumnDef="kind">
    <th mat-header-cell *matHeaderCellDef> {{'training.kind' | translate}} </th>
    <td mat-cell *matCellDef="let training"> {{training.kind}} </td>
</ng-container>
<ng-container matColumnDef="distance">
    <th mat-header-cell *matHeaderCellDef> {{'training.distance' | translate}} </th>
    <td mat-cell *matCellDef="let training"> {{training.distance}} </td>
</ng-container>
<ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> {{'common.actions' | translate}} </th>
    <td mat-cell *matCellDef="let training">
        <a style="color: black;" routerLink="/training/{{training.id}}" style="padding-left: 40%;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-text" viewBox="0 0 16 16">
                <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                <path d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
              </svg>
        </a>
    </td>
</ng-container>
<tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
<tr mat-row *matRowDef="let training; columns: columnsToDisplay"></tr>
</table>