
<div>
    <h1>{{title}}</h1> <button class="btn btn-outline-secondary mr-2">logout</button>
    </div>
    
    <button type="button" class="btn btn-outline-secondary mr-2" routerLink="/main">
      {{'navigator.main' | translate }}
    </button>
    <button type="button" class="btn btn-outline-secondary mr-2" routerLink="/training">
      {{'navigator.trainings' | translate }}
    </button>
    <button type="button" class="btn btn-outline-secondary mr-2" routerLink="/race">
      {{'navigator.races' | translate }}
    </button>
    <button type="button" class="btn btn-outline-secondary mr-2" routerLink="/training-camp">
      {{'navigator.training-camps' | translate }}
    </button>
    <button type="button" class="btn btn-outline-secondary mr-2" routerLink="/rider">
      {{'navigator.riders' | translate }}
    </button>
    <button type="button" class="btn btn-outline-secondary mr-2" routerLink="/equipment">
      {{'navigator.equipment' | translate }}
    </button>