
<div style="text-align: center;">
    <h1>{{title}}</h1>
    <div *ngIf="currentUser"> {{'home.welcome' | translate}} {{currentUser.username}} !</div>
    
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="tab-title-container">
  <ng-container *ngIf="currentUser" [ngSwitch]="tabTitle">
    <a class="navbar-brand" *ngSwitchCase="'MAIN'">{{'navigator.main' | translate | uppercase }}</a>
    <a class="navbar-brand" *ngSwitchCase="'TRAINING'">{{'navigator.trainings' | translate | uppercase }}</a>
    <a class="navbar-brand" *ngSwitchCase="'RACE'">{{'navigator.races' | translate | uppercase }}</a>
    <a class="navbar-brand" *ngSwitchCase="'TRAINING-CAMP'">{{'navigator.training-camps' | translate | uppercase }}</a>
    <a class="navbar-brand" *ngSwitchCase="'RIDER'">{{'navigator.riders' | translate | uppercase }}</a>
    <a class="navbar-brand" *ngSwitchCase="'BIKE'">{{'navigator.bike' | translate | uppercase }}</a>
    <a class="navbar-brand" *ngSwitchCase="'ADMIN'">{{'navigator.admin' | translate | uppercase }}</a>
  </ng-container>

  <ng-container *ngIf="!currentUser" [ngSwitch]="tabTitle">
    <a class="navbar-brand" *ngSwitchCase="'MAIN'">{{'navigator.login' | translate | uppercase }}</a>
  </ng-container>

</div>
  <button *ngIf="currentUser" class="navbar-toggler" type="button" data-toggle="collapse" (click)="toggleCollapsed()" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText"  [ngbCollapse]="isCollapsed">
    <div style="padding-left: 10px;">
      <ul *ngIf="currentUser"  class="navbar-nav mr-auto">
        <li *ngIf="isUserHasRole('ROLE_ADMIN')" class="nav-item">
          <a class="nav-link" routerLink="/admin" (click)="changeActiveTabTitle('MAIN')"> {{'navigator.admin' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/main" (click)="changeActiveTabTitle('MAIN')"> {{'navigator.main' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/training" (click)="changeActiveTabTitle('TRAINING')"> {{'navigator.trainings' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/race" (click)="changeActiveTabTitle('RACE')"> {{'navigator.races' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/rider" (click)="changeActiveTabTitle('RIDER')"> {{'navigator.riders' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/bike" (click)="changeActiveTabTitle('BIKE')">{{'navigator.bike' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()"> {{'navigator.logout' | translate }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>