
<div>
    <h1>{{title}}</h1> <button class="btn btn-outline-secondary mr-2">logout</button>
    </div>
    
    <button type="button" class="btn btn-outline-secondary mr-2" routerLink="/main">
      Panel główny
    </button>
    <button type="button" class="btn btn-outline-secondary mr-2" routerLink="/training">
      Treningi
    </button>
    <button type="button" class="btn btn-outline-secondary mr-2" routerLink="/race">
      Wyścigi
    </button>
    <button type="button" class="btn btn-outline-secondary mr-2" routerLink="/rider">
      Zawodnicy
    </button>
    <button type="button" class="btn btn-outline-secondary mr-2" routerLink="/equipment">
      Sprzęt
    </button>
    <button type="button" class="btn btn-outline-secondary mr-2" routerLink="/report-error">
      Zgłoś błąd
    </button>