<ul>
    <li *ngFor="let achievement of achievements">
        <table>
            <tr>
                <td>{{ 'achievement.id' | translate }}</td>
                <td>{{achievement.id }}</td>
            </tr>
            <tr>
                <td>{{ 'achievement.rider-id' | translate }}</td>
                <td>{{achievement.rider_id}}</td>
            </tr>
            <tr>
                <td>{{ 'achievement.range' | translate }}</td>
                <td>{{achievement.range}}</td>
            </tr>
            <tr>
                <td>{{ 'achievement.city' | translate }}</td>
                <td>{{achievement.city}}</td>
            </tr>
            <tr>
                <td>{{ 'achievement.description' | translate }}</td>
                <td>{{achievement.description}}</td>
            </tr>
            <tr>
                <td>{{ 'achievement.place' | translate }}</td>
                <td>{{achievement.place}}</td>
            </tr>
        </table>
    </li>
</ul>