<br>
{{ 'rider-details.achievements-preview' | translate }}
<div class="achievements-containter">
    <ul>
        <li *ngFor="let achievement of achievements">
            <table>
                <tr>
                    <td class="entity-attribute-title">{{ 'achievement.id' | translate }}</td>
                    <td>{{achievement.id }}</td>
                </tr>
                <tr>
                    <td class="entity-attribute-title">{{ 'achievement.range' | translate }}</td>
                    <td>{{achievement.eventRange}}</td>
                </tr>
                <tr>
                    <td class="entity-attribute-title">{{ 'achievement.city' | translate }}</td>
                    <td>{{achievement.city}}</td>
                </tr>
                <tr>
                    <td class="entity-attribute-title">{{ 'achievement.description' | translate }}</td>
                    <td>{{achievement.description}}</td>
                </tr>
                <tr>
                    <td class="entity-attribute-title">{{ 'achievement.place' | translate }}</td>
                    <td>{{achievement.place}}</td>
                </tr>
                <tr>
                    <td class="entity-attribute-title">{{ 'achievement.date' | translate }}</td>
                    <td>{{achievement.achievementDate | date }}</td>
                </tr>
            </table>
            <hr>
        </li>
    </ul>
</div>