{{ 'training.preview' | translate }}
<div class="training-detail-container">
<table>
    <tr>
        <td class="entity-attribute-title">{{'training.id' | translate }}</td>
        <td>{{training.id}}</td>
    </tr>
    <tr>
        <td class="entity-attribute-title">{{ 'training.date' | translate }}</td>
        <td>{{training.date | date}}</td>
    </tr>
    <tr>
        <td class="entity-attribute-title">{{ 'training.type' | translate }}</td>
        <td>{{training.type}}</td>
    </tr>
    <tr>
        <td class="entity-attribute-title">{{ 'training.kind' | translate }}</td>
        <td>{{training.kind}}</td>
    </tr>
    <tr>
        <td class="entity-attribute-title">{{ 'training.distance' | translate }}</td>
        <td>{{training.distance}}</td>
    </tr>
    <tr>
        <td class="entity-attribute-title">{{ 'training.description' | translate }}</td>
        <td>{{training.description}}</td>
    </tr>

  </table>
  <button (click)="onBack()" type="button" class="btn btn-primary">{{ 'common-actions.back' | translate }}</button>
  <button type="button" class="btn btn-info" routerLink="/training/{{training.id}}/edit">{{ 'common-actions.edit' | translate }}</button>
</div>

