<br>
{{ 'rider-details.preview' | translate }}
<div class="rider-update-container"> 
<table>
    <tr>
        <td class="entity-attribute-title">{{ 'rider-details.id' | translate }}</td>
        <td><input type="text" [(ngModel)]="rider.id"></td>
    </tr>
    <tr>
        <td class="entity-attribute-title">{{ 'rider-details.category' | translate }}</td>
        <td>
            <input type="text" [(ngModel)]="rider.category">
        </td>
    </tr>
    <tr>
        <td class="entity-attribute-title">{{ 'rider-details.first-name' | translate }}</td>
        <td><input type="text" [(ngModel)]="rider.firstName"></td>
    </tr>
    <tr>
        <td class="entity-attribute-title">{{ 'rider-details.last-name' | translate }}</td>
        <td><input type="text" [(ngModel)]="rider.lastName"></td>
    </tr>
    <tr>
        <td class="entity-attribute-title">{{ 'rider-details.license-no' | translate }}</td>
        <td><input type="text" [(ngModel)]="rider.licenseNo"></td>
    </tr>
</table>
<div class="d-flex justify-content-between">
    <button (click)="onBack()" type="button" class="btn btn-primary">{{ 'common-actions.back' | translate }}</button>
    <button (click)="onSave()" type="button" class="btn btn-info">{{ 'common-actions.save' | translate }}</button>
</div>
</div>