{{ 'training-camp.preview' | translate }}
<div class="training-camp-details-container">
<table>
    <tr>
        <td class="entity-attribute-title">{{'training-camp.id' | translate }}</td>
        <td>{{trainingCamp.id}}</td>
    </tr>
    <tr>
        <td class="entity-attribute-title">{{ 'training-camp.title' | translate }}</td>
        <td>{{trainingCamp.title}}</td>
    </tr>
    <tr>
        <td class="entity-attribute-title">{{ 'training-camp.startDate' | translate }}</td>
        <td>{{trainingCamp.startDate | date}}</td>
    </tr>
    <tr>
        <td class="entity-attribute-title">{{ 'training-camp.endDate' | translate }}</td>
        <td>{{trainingCamp.endDate | date}}</td>
    </tr>


  </table>
  <div class="d-flex justify-content-between">
      <button (click)="onBack()" type="button" class="btn btn-primary">{{ 'common-actions.back' | translate }}</button>
      <button type="button" class="btn btn-info float-right" routerLink="/training-camp/{{trainingCamp.id}}/edit">{{ 'common-actions.edit' | translate }}</button>
  </div>
</div>